@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-ycIR4o6d7X6y: #2563eb;
  --plasmic-token-brand-brand: var(--token-ycIR4o6d7X6y);
  --token-DlPH351JKTx0: 0.5rem;
  --plasmic-token-size-8: var(--token-DlPH351JKTx0);
  --token-WLq9rWEq_TxC: Inter;
  --plasmic-token-sans-serif: var(--token-WLq9rWEq_TxC);
  --token-YO_mS9DOGzv8: 1rem;
  --plasmic-token-font-md: var(--token-YO_mS9DOGzv8);
  --token-KfMpSPPCK99l: 1.25;
  --plasmic-token-line-height-md: var(--token-KfMpSPPCK99l);
  --token-O8EdP-Wa8Iow: 0.375rem;
  --plasmic-token-size-6: var(--token-O8EdP-Wa8Iow);
  --token-86FLajTp2PAL: #374151;
  --plasmic-token-neutral-neutral: var(--token-86FLajTp2PAL);
  --token-LNwxqkouCzn7: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-LNwxqkouCzn7);
  --token-OF3XldLAAMu8: #6b7280;
  --plasmic-token-muted-muted: var(--token-OF3XldLAAMu8);
  --token-MHxHic_aWs3H: 0.25rem;
  --plasmic-token-size-4: var(--token-MHxHic_aWs3H);
  --token-3ulPkmEBus-i: 0.75rem;
  --plasmic-token-font-sm: var(--token-3ulPkmEBus-i);
  --token-Wy44b-ovBBXw: 1;
  --plasmic-token-line-height-sm: var(--token-Wy44b-ovBBXw);
  --token-Qs_iKZYooFWB: 1.25rem;
  --plasmic-token-font-lg: var(--token-Qs_iKZYooFWB);
  --token-Sq6zMsi2ATsy: 1.4;
  --plasmic-token-line-height-lg: var(--token-Sq6zMsi2ATsy);
  --token-Aa2g9_6Er4je: 0.125rem;
  --plasmic-token-size-2: var(--token-Aa2g9_6Er4je);
  --token-NATZklxnN0Hl: #16a34a;
  --plasmic-token-success-success: var(--token-NATZklxnN0Hl);
  --token-f6ZGP8Q-X_Re: #facc15;
  --plasmic-token-warning-warning: var(--token-f6ZGP8Q-X_Re);
  --token-vVxz-ycRl6xe: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-vVxz-ycRl6xe);
  --token-ahEPUK4nUEIr: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-ahEPUK4nUEIr);
  --token-W3YeyUZ4RP9L: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-W3YeyUZ4RP9L);
  --token-yHnc5Sm_ms1m: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-yHnc5Sm_ms1m);
  --token-zJNU-9aMy1-1: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-zJNU-9aMy1-1);
  --token-Eo3QyKgxqw-S: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-Eo3QyKgxqw-S);
  --token-9LxD1sL9am-1: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-9LxD1sL9am-1);
  --token-9owA11gPrB0b: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-9owA11gPrB0b);
  --token-dkLR-Kge5u9l: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-dkLR-Kge5u9l);
  --token-XQrwNNa0ZkXD: #86efac;
  --plasmic-token-success-success-border: var(--token-XQrwNNa0ZkXD);
  --token-fq4NhoRzv3Bu: #fde047;
  --plasmic-token-warning-warning-border: var(--token-fq4NhoRzv3Bu);
  --token-mkpj8UjWRxoP: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-mkpj8UjWRxoP);
  --token-rKLOdwfMqpPY: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-rKLOdwfMqpPY);
  --token-ZXM0yk1jN34b: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-ZXM0yk1jN34b);
  --token-BRbJdjPV25Pv: #00000033;
  --plasmic-token-interaction-pressed: var(--token-BRbJdjPV25Pv);
  --token-0-OARQe8rDmD: 0.625rem;
  --plasmic-token-size-10: var(--token-0-OARQe8rDmD);
  --token-mCia7zrask_S: 0.75rem;
  --plasmic-token-size-12: var(--token-mCia7zrask_S);
  --token-gb8UxKJPs4ci: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-gb8UxKJPs4ci);
  --token-fzJ6vDntTwHO: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-fzJ6vDntTwHO);
  --token-N1bNMl22UjZB: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-N1bNMl22UjZB);
  --token-7gW85jK6FBFb: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-7gW85jK6FBFb);
  --token-DjJtL0xfOxkB: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-DjJtL0xfOxkB);
  --token-N46c8mCrFc0C: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-N46c8mCrFc0C);
  --token-9TlLTqdMD7Ce: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-9TlLTqdMD7Ce);
  --token-S9-5svP-3q5G: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-S9-5svP-3q5G);
  --token-raJWDPYMnZ_c: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-raJWDPYMnZ_c);
  --token-cGkSD3otWxTj: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-cGkSD3otWxTj);
  --token-9XhErFCLxlrx: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-9XhErFCLxlrx);
  --token-A8lTgC2BXCmU: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-A8lTgC2BXCmU
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-VC6bvudojzln_font-family: "Inter", sans-serif;
  --mixin-VC6bvudojzln_font-size: 16px;
  --mixin-VC6bvudojzln_font-weight: 400;
  --mixin-VC6bvudojzln_font-style: normal;
  --mixin-VC6bvudojzln_color: #535353;
  --mixin-VC6bvudojzln_text-align: left;
  --mixin-VC6bvudojzln_text-transform: none;
  --mixin-VC6bvudojzln_line-height: 1.5;
  --mixin-VC6bvudojzln_letter-spacing: normal;
  --mixin-VC6bvudojzln_white-space: pre-wrap;
  --mixin-VC6bvudojzln_user-select: text;
  --mixin-VC6bvudojzln_text-decoration-line: none;
  --mixin-VC6bvudojzln_text-overflow: clip;
  --mixin-efdr8VqrMbCL_color: #000000;
  --mixin-efdr8VqrMbCL_font-weight: 700;
  --mixin-efdr8VqrMbCL_font-size: 64px;
  --mixin-efdr8VqrMbCL_line-height: 1;
  --mixin-efdr8VqrMbCL_letter-spacing: -1px;
  --mixin-efdr8VqrMbCL_white-space: pre-wrap;
  --mixin-OXg1Abj9HWPj_color: #000000;
  --mixin-OXg1Abj9HWPj_font-size: 48px;
  --mixin-OXg1Abj9HWPj_font-weight: 700;
  --mixin-OXg1Abj9HWPj_letter-spacing: -0.5px;
  --mixin-OXg1Abj9HWPj_line-height: 1.1;
  --mixin-OXg1Abj9HWPj_white-space: pre-wrap;
  --mixin-s-npbvzM_Exs_color: #0070f3;
  --mixin-s-npbvzM_Exs_white-space: pre-wrap;
  --mixin-X-luDqXRdIuY_color: #000000;
  --mixin-X-luDqXRdIuY_font-size: 32px;
  --mixin-X-luDqXRdIuY_font-weight: 600;
  --mixin-X-luDqXRdIuY_line-height: 1.2;
  --mixin-X-luDqXRdIuY_white-space: pre-wrap;
  --mixin-dOuPtW_6zT2-_color: #000000;
  --mixin-dOuPtW_6zT2-_font-size: 24px;
  --mixin-dOuPtW_6zT2-_font-weight: 600;
  --mixin-dOuPtW_6zT2-_line-height: 1.3;
  --mixin-dOuPtW_6zT2-_white-space: pre-wrap;
  --mixin-I3JjfLpJOyxx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-I3JjfLpJOyxx_border-bottom-color: #dddddd;
  --mixin-I3JjfLpJOyxx_border-bottom-style: solid;
  --mixin-I3JjfLpJOyxx_border-bottom-width: 1px;
  --mixin-I3JjfLpJOyxx_border-left-color: #dddddd;
  --mixin-I3JjfLpJOyxx_border-left-style: solid;
  --mixin-I3JjfLpJOyxx_border-left-width: 1px;
  --mixin-I3JjfLpJOyxx_border-right-color: #dddddd;
  --mixin-I3JjfLpJOyxx_border-right-style: solid;
  --mixin-I3JjfLpJOyxx_border-right-width: 1px;
  --mixin-I3JjfLpJOyxx_border-top-color: #dddddd;
  --mixin-I3JjfLpJOyxx_border-top-style: solid;
  --mixin-I3JjfLpJOyxx_border-top-width: 1px;
  --mixin-I3JjfLpJOyxx_border-bottom-left-radius: 3px;
  --mixin-I3JjfLpJOyxx_border-bottom-right-radius: 3px;
  --mixin-I3JjfLpJOyxx_border-top-left-radius: 3px;
  --mixin-I3JjfLpJOyxx_border-top-right-radius: 3px;
  --mixin-I3JjfLpJOyxx_font-family: "Inconsolata";
  --mixin-I3JjfLpJOyxx_padding-bottom: 1px;
  --mixin-I3JjfLpJOyxx_padding-left: 4px;
  --mixin-I3JjfLpJOyxx_padding-right: 4px;
  --mixin-I3JjfLpJOyxx_padding-top: 1px;
  --mixin-I3JjfLpJOyxx_white-space: pre-wrap;
  --mixin-fj83Y4U3mSae_border-left-color: #dddddd;
  --mixin-fj83Y4U3mSae_border-left-style: solid;
  --mixin-fj83Y4U3mSae_border-left-width: 3px;
  --mixin-fj83Y4U3mSae_color: #888888;
  --mixin-fj83Y4U3mSae_padding-left: 10px;
  --mixin-fj83Y4U3mSae_white-space: pre-wrap;
  --mixin-h9mOIVmOgUTn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-h9mOIVmOgUTn_border-bottom-color: #dddddd;
  --mixin-h9mOIVmOgUTn_border-bottom-style: solid;
  --mixin-h9mOIVmOgUTn_border-bottom-width: 1px;
  --mixin-h9mOIVmOgUTn_border-left-color: #dddddd;
  --mixin-h9mOIVmOgUTn_border-left-style: solid;
  --mixin-h9mOIVmOgUTn_border-left-width: 1px;
  --mixin-h9mOIVmOgUTn_border-right-color: #dddddd;
  --mixin-h9mOIVmOgUTn_border-right-style: solid;
  --mixin-h9mOIVmOgUTn_border-right-width: 1px;
  --mixin-h9mOIVmOgUTn_border-top-color: #dddddd;
  --mixin-h9mOIVmOgUTn_border-top-style: solid;
  --mixin-h9mOIVmOgUTn_border-top-width: 1px;
  --mixin-h9mOIVmOgUTn_border-bottom-left-radius: 3px;
  --mixin-h9mOIVmOgUTn_border-bottom-right-radius: 3px;
  --mixin-h9mOIVmOgUTn_border-top-left-radius: 3px;
  --mixin-h9mOIVmOgUTn_border-top-right-radius: 3px;
  --mixin-h9mOIVmOgUTn_font-family: "Inconsolata";
  --mixin-h9mOIVmOgUTn_padding-bottom: 3px;
  --mixin-h9mOIVmOgUTn_padding-left: 6px;
  --mixin-h9mOIVmOgUTn_padding-right: 6px;
  --mixin-h9mOIVmOgUTn_padding-top: 3px;
  --mixin-h9mOIVmOgUTn_white-space: pre-wrap;
  --mixin-K0kC8wDidz-G_display: flex;
  --mixin-K0kC8wDidz-G_flex-direction: column;
  --mixin-K0kC8wDidz-G_align-items: stretch;
  --mixin-K0kC8wDidz-G_justify-content: flex-start;
  --mixin-K0kC8wDidz-G_list-style-position: outside;
  --mixin-K0kC8wDidz-G_padding-left: 40px;
  --mixin-K0kC8wDidz-G_position: relative;
  --mixin-K0kC8wDidz-G_list-style-type: disc;
  --mixin-K0kC8wDidz-G_white-space: pre-wrap;
  --mixin-BAsUdQ9lCLFu_display: flex;
  --mixin-BAsUdQ9lCLFu_flex-direction: column;
  --mixin-BAsUdQ9lCLFu_align-items: stretch;
  --mixin-BAsUdQ9lCLFu_justify-content: flex-start;
  --mixin-BAsUdQ9lCLFu_list-style-position: outside;
  --mixin-BAsUdQ9lCLFu_padding-left: 40px;
  --mixin-BAsUdQ9lCLFu_position: relative;
  --mixin-BAsUdQ9lCLFu_list-style-type: decimal;
  --mixin-BAsUdQ9lCLFu_white-space: pre-wrap;
  --mixin-T7XJ3WqV-Wvr_color: #000000;
  --mixin-T7XJ3WqV-Wvr_font-size: 20px;
  --mixin-T7XJ3WqV-Wvr_font-weight: 600;
  --mixin-T7XJ3WqV-Wvr_line-height: 1.5;
  --mixin-T7XJ3WqV-Wvr_white-space: pre-wrap;
  --mixin--cptZbWn9HUc_color: #000000;
  --mixin--cptZbWn9HUc_font-size: 16px;
  --mixin--cptZbWn9HUc_font-weight: 600;
  --mixin--cptZbWn9HUc_line-height: 1.5;
  --mixin--cptZbWn9HUc_white-space: pre-wrap;
  --mixin-f99G93x9qgj2_color: #3291ff;
  --mixin-f99G93x9qgj2_white-space: pre-wrap;
  --mixin-MRsbguBwDrYM_white-space: pre-wrap;
  --mixin-Yhjd7NcLetA6_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-VC6bvudojzln_font-family);
  font-size: var(--mixin-VC6bvudojzln_font-size);
  font-weight: var(--mixin-VC6bvudojzln_font-weight);
  font-style: var(--mixin-VC6bvudojzln_font-style);
  color: var(--mixin-VC6bvudojzln_color);
  text-align: var(--mixin-VC6bvudojzln_text-align);
  text-transform: var(--mixin-VC6bvudojzln_text-transform);
  line-height: var(--mixin-VC6bvudojzln_line-height);
  letter-spacing: var(--mixin-VC6bvudojzln_letter-spacing);
  white-space: var(--mixin-VC6bvudojzln_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-efdr8VqrMbCL_color);
  font-weight: var(--mixin-efdr8VqrMbCL_font-weight);
  font-size: var(--mixin-efdr8VqrMbCL_font-size);
  line-height: var(--mixin-efdr8VqrMbCL_line-height);
  letter-spacing: var(--mixin-efdr8VqrMbCL_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-OXg1Abj9HWPj_color);
  font-size: var(--mixin-OXg1Abj9HWPj_font-size);
  font-weight: var(--mixin-OXg1Abj9HWPj_font-weight);
  letter-spacing: var(--mixin-OXg1Abj9HWPj_letter-spacing);
  line-height: var(--mixin-OXg1Abj9HWPj_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-s-npbvzM_Exs_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-X-luDqXRdIuY_color);
  font-size: var(--mixin-X-luDqXRdIuY_font-size);
  font-weight: var(--mixin-X-luDqXRdIuY_font-weight);
  line-height: var(--mixin-X-luDqXRdIuY_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-dOuPtW_6zT2-_color);
  font-size: var(--mixin-dOuPtW_6zT2-_font-size);
  font-weight: var(--mixin-dOuPtW_6zT2-_font-weight);
  line-height: var(--mixin-dOuPtW_6zT2-_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-I3JjfLpJOyxx_font-family);
  border-radius: var(--mixin-I3JjfLpJOyxx_border-top-left-radius)
    var(--mixin-I3JjfLpJOyxx_border-top-right-radius)
    var(--mixin-I3JjfLpJOyxx_border-bottom-right-radius)
    var(--mixin-I3JjfLpJOyxx_border-bottom-left-radius);
  padding: var(--mixin-I3JjfLpJOyxx_padding-top)
    var(--mixin-I3JjfLpJOyxx_padding-right)
    var(--mixin-I3JjfLpJOyxx_padding-bottom)
    var(--mixin-I3JjfLpJOyxx_padding-left);
  border-top: var(--mixin-I3JjfLpJOyxx_border-top-width)
    var(--mixin-I3JjfLpJOyxx_border-top-style)
    var(--mixin-I3JjfLpJOyxx_border-top-color);
  border-right: var(--mixin-I3JjfLpJOyxx_border-right-width)
    var(--mixin-I3JjfLpJOyxx_border-right-style)
    var(--mixin-I3JjfLpJOyxx_border-right-color);
  border-bottom: var(--mixin-I3JjfLpJOyxx_border-bottom-width)
    var(--mixin-I3JjfLpJOyxx_border-bottom-style)
    var(--mixin-I3JjfLpJOyxx_border-bottom-color);
  border-left: var(--mixin-I3JjfLpJOyxx_border-left-width)
    var(--mixin-I3JjfLpJOyxx_border-left-style)
    var(--mixin-I3JjfLpJOyxx_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-fj83Y4U3mSae_color);
  padding-left: var(--mixin-fj83Y4U3mSae_padding-left);
  border-left: var(--mixin-fj83Y4U3mSae_border-left-width)
    var(--mixin-fj83Y4U3mSae_border-left-style)
    var(--mixin-fj83Y4U3mSae_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-h9mOIVmOgUTn_font-family);
  border-radius: var(--mixin-h9mOIVmOgUTn_border-top-left-radius)
    var(--mixin-h9mOIVmOgUTn_border-top-right-radius)
    var(--mixin-h9mOIVmOgUTn_border-bottom-right-radius)
    var(--mixin-h9mOIVmOgUTn_border-bottom-left-radius);
  padding: var(--mixin-h9mOIVmOgUTn_padding-top)
    var(--mixin-h9mOIVmOgUTn_padding-right)
    var(--mixin-h9mOIVmOgUTn_padding-bottom)
    var(--mixin-h9mOIVmOgUTn_padding-left);
  border-top: var(--mixin-h9mOIVmOgUTn_border-top-width)
    var(--mixin-h9mOIVmOgUTn_border-top-style)
    var(--mixin-h9mOIVmOgUTn_border-top-color);
  border-right: var(--mixin-h9mOIVmOgUTn_border-right-width)
    var(--mixin-h9mOIVmOgUTn_border-right-style)
    var(--mixin-h9mOIVmOgUTn_border-right-color);
  border-bottom: var(--mixin-h9mOIVmOgUTn_border-bottom-width)
    var(--mixin-h9mOIVmOgUTn_border-bottom-style)
    var(--mixin-h9mOIVmOgUTn_border-bottom-color);
  border-left: var(--mixin-h9mOIVmOgUTn_border-left-width)
    var(--mixin-h9mOIVmOgUTn_border-left-style)
    var(--mixin-h9mOIVmOgUTn_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-K0kC8wDidz-G_display);
  flex-direction: var(--mixin-K0kC8wDidz-G_flex-direction);
  align-items: var(--mixin-K0kC8wDidz-G_align-items);
  justify-content: var(--mixin-K0kC8wDidz-G_justify-content);
  list-style-position: var(--mixin-K0kC8wDidz-G_list-style-position);
  padding-left: var(--mixin-K0kC8wDidz-G_padding-left);
  position: var(--mixin-K0kC8wDidz-G_position);
  list-style-type: var(--mixin-K0kC8wDidz-G_list-style-type);
  flex-column-gap: var(--mixin-K0kC8wDidz-G_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-BAsUdQ9lCLFu_display);
  flex-direction: var(--mixin-BAsUdQ9lCLFu_flex-direction);
  align-items: var(--mixin-BAsUdQ9lCLFu_align-items);
  justify-content: var(--mixin-BAsUdQ9lCLFu_justify-content);
  list-style-position: var(--mixin-BAsUdQ9lCLFu_list-style-position);
  padding-left: var(--mixin-BAsUdQ9lCLFu_padding-left);
  position: var(--mixin-BAsUdQ9lCLFu_position);
  list-style-type: var(--mixin-BAsUdQ9lCLFu_list-style-type);
  flex-column-gap: var(--mixin-BAsUdQ9lCLFu_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-T7XJ3WqV-Wvr_color);
  font-size: var(--mixin-T7XJ3WqV-Wvr_font-size);
  font-weight: var(--mixin-T7XJ3WqV-Wvr_font-weight);
  line-height: var(--mixin-T7XJ3WqV-Wvr_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin--cptZbWn9HUc_color);
  font-size: var(--mixin--cptZbWn9HUc_font-size);
  font-weight: var(--mixin--cptZbWn9HUc_font-weight);
  line-height: var(--mixin--cptZbWn9HUc_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-f99G93x9qgj2_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
